{% extends 'base.html' %}
{% load humanize %}
{% block content %}

<br><br>
<div class="container">
   
        <!-- Product section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6">
                        <img class="card-img-top mb-5 mb-md-0" src="{{ product.picture.url }}" alt="..." style="width: 100%; max-width: 600px; margin-top: -20px;" />
                    </div> 
                    <div class="col-md-6">
                        {% if product.is_sale %}
                        <div class="badge bg-danger text-decoration-none link-light"> تخفیف ویژه </div>
                        {% endif %}
                        <br><br>
                        <h3 class="display-6 fw-bolder">{{ product.name }}</h3>
                        <br> <br>

                        <div class="fs-6 mb-5">
                            <span> 🐈 مشخصات: </span>
                            <p class="lead">{{ product.description }}</p>
                            {% if product.is_sale %}
                            <span> 💰 قیمت: </span>
                            <p class="lead"><strike>{{ product.price | intcomma }}</strike> {{ product.sale_price | intcomma }} تومان</p>
                            {% else %}
                            <span> 💰 قیمت: </span>
                            <p class="lead">{{ product.price | intcomma }} تومان</p>
                            {% endif %}
                            <br>
                            <form method="POST" action="{% url 'cart:cart_add' product.id %}">
                                {{ cart_add_product_form }}
                                {% csrf_token %}
                                <br>
                                <input type="submit" value="افزودن به سبد خرید" class="btn btn-warning mt-auto">
                            </form>
                        
                        </div>
                    </div>
                </div>
            </div>
            <br><br><br>
            <div class="text-start">
                <a class="btn btn-dark mt-auto" href="{% url 'catshop_home' %}"> رفتن به کتشاپ </a>
                <a class="btn btn-outline-dark mt-auto" href="{% url 'home' %}">بازگشت به صفحه اصلی</a>
            </div>
        </section>
        
         
        
        <!-- Related items section-->
        <section class="py-5 bg-light">
            <div class="container px-4 px-lg-5 mt-5">
                <h3 class="fw-bolder mb-4"> محصولات مشابه </h3><br>
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {% if related_products %}
                    {% for item in related_products %}
                    {% if item.is_sale %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-danger text-white position-absolute" style="top: 0.5rem; right: 0.5rem">تخفیف ویژه</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="{{ item.picture.url }}" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ item.name }}</h5><br>
                                    <!-- Product price-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        {% with ''|center:item.star as range %}<!-- ما میایم یه رشته به طول اون ایتم.استار هست ایجاد میکنیم و یک رنجی درست میکنیم که بیاد روش حرکت کنه و این کار رو تکرار کنه چون روی اینت نمیتونیم حلقه بنویسیم و روش حرکت کنیم ه-->
                                        {% for _ in range %}
                                        <div class="bi-star-fill"></div>
                                        {% endfor %}
                                        {% endwith %}
                                    </div>
                                    <strike>{{ item.price | intcomma }} تومان<br></strike>
                                    {{ item.sale_price | intcomma }} تومان
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'product' item.id %}">برو به صفحه محصول</a></div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="{{ item.picture.url }}" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ item.name }}</h5><br>
                                    <!-- Product price-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        {% with ''|center:item.star as range %}<!-- ما میایم به طول اون ایتم.استار یک رنجی درست میکنیم که بیاد و این کار رو تکرار کنه-->
                                        {% for _ in range %}
                                        <div class="bi-star-fill"></div>
                                        {% endfor %}
                                        {% endwith %}
                                    </div>
                                    {{ item.price | intcomma }} تومان
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'product' item.id %}">برو به صفحه محصول</a></div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </section>
      
</div>
<br><br>
{% endblock %}