{% load static %}



  <div class="card mb-3">
    <div class="card-header"> جدیدترین پست ها </div>
    {% if recent_posts %}
    <div class="card-body">
        {% for post in recent_posts %}
        
        <div style="border: 1px solid #ccc; border-radius: 5px; padding: 10px; margin-bottom: 15px; display: flex; align-items: center;">
            <img src="{{ post.picture.url }}" alt="" style="width: 1.5cm; height: auto; margin-right: 10px;">
            <div>
                <h6 style="margin: 0;"><a href="{% url 'post_detail' post.pk %}" style="text-decoration: none; color: black;">  {{ post.title }}  </a></h6>
                <time datetime="2020-01-01" style="font-size: 0.9em; color: gray;">{{ post.date }}</time>
            </div>
        </div>

        {% endfor %}
    </div>
    {% else %}                 
      <p>No blog post is available!</p>
    {% endif %}
</div>