{% extends 'base.html' %}
{% block content %}
  <!-- Page header with logo and tagline-->
  <header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
         <div class="text-center text-white">
             <h1 class="display-4 fw-bolder"> کتلاگــ! </h1>
             <p class="lead fw-normal text-white-50 mb-0"> اینجا میتونی درباره گربه خونگیت پست بزاری </p>
          </div>
          <br>     
    </div>
</header>
<br><br>
<!-- Page content-->
<div class="container">
    <div class="row">
        <!-- Blog entries-->

        <div class="col-lg-8">
            <!-- Featured blog post-->
             {% for post in post_list %}
            <div class="card mb-4" style="width: 19cm; height: auto;">
                <a href="{% url 'post_detail' post.pk %}"><img class="card-img-top" src="{{ post.picture.url }}" alt="..."   /></a>
                <div class="card-body">
                    <div class="small text-muted">{{ post.writer }},  {{ post.date }}</div>
                    <a class="text-decoration-none link-dark stretched-link" href="{% url 'post_detail' post.pk %}"><h2 class="card-title">{{ post.title }}</h2></a>
                    <br>
                    <p class="card-text">{{ post.excerpt }}</p>
                    <br>


                    {{ post.total_likes }}  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                      </svg>
                      &nbsp;
                      {{ post.comment_count }} &nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-fill" viewBox="0 0 16 16">
                        <path d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9 9 0 0 0 8 15"/>
                      </svg>


                       <br><br>
                  
                    <a class="btn btn-primary" href="{% url 'post_detail' post.pk %}"> →مشاهده پست </a>
                </div>
            </div>
            {% endfor %}

            <!-- Pagination-->
            {% if post_list.has_other_pages %}
            <nav aria-label="Pagination">
                <hr class="my-0" />
                <div class="blog-pagination text-center">
                    <ul class="pagination justify-content-center my-4 align-items-center">
                        <!-- دکمه صفحه قبلی -->
                        {% if post_list.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ post_list.previous_page_number }}" aria-label="Previous">
                                &laquo; <!-- آیکن دکمه قبلی -->
                            </a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <span class="page-link">&laquo;</span>
                        </li>
                        {% endif %}
        
                        <!-- نمایش شماره صفحه -->
                        <li class="page-item disabled mx-3">
                            <span class="badge bg-secondary px-3 py-2">
                                <strong>صفحه {{ post_list.number }} از {{ post_list.paginator.num_pages }}</strong>
                            </span>
                        </li>
        
                        <!-- دکمه صفحه بعدی -->
                        {% if post_list.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ post_list.next_page_number }}" aria-label="Next">
                                &raquo; <!-- آیکن دکمه بعدی -->
                            </a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <span class="page-link">&raquo;</span>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        {% endif %}
        <br>
        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
            
          <!-- Side widget-->
            <div class="card mb-4">
                {% if user.is_authenticated %}
                <div class="card-header">پروفایل من</div>
                {% if user_profile.photo %}
                <div class="profile-photo-container" style="text-align: center; margin-top: 10px;">
                    <img src="{{ user_profile.photo.url }}" alt="عکس پروفایل" 
                         style="width: 80px; height: 80px; border-radius: 50%; object-fit: cover; border: 2px solid #ccc;">
                </div>
                {% else %}
                <br>
                <center> <img src="https://via.placeholder.com/150" alt=""
                     style="width: 80px; height: 80px; border-radius: 50%; object-fit: cover; border: 2px solid #ccc;"></center>
                {% endif %}
                <center><div class="font-monospace" role="alert"><b>{{ user_profile.user.username }} </b></div> </center>
                <center><p class="text-lowercase"><small>{{ user_profile.biography }} </small></p></center>
                <div class="d-flex justify-content-center align-items-center mt-3">
                    <a href="{% url 'new_post' %}" 
                       class="btn btn-sm btn-primary mx-2 text-decoration-none" 
                       role="button">
                        افزودن پست جدید
                    </a>
                    <a href="{% url 'update_profile' %}" 
                       class="btn btn-sm btn-secondary mx-2 text-decoration-none" 
                       role="button">
                        ویرایش پروفایل
                    </a>
                </div>
                <div class="d-flex justify-content-center align-items-center mt-3">
                <a href="{% url 'my_posts' %}" 
                class="btn btn-outline-secondary"
                role="button">
                 پست‌های من
                </a></div>
                <div class="card-body"></div>
                {% else %}
                <a href="{% url 'login' %}" class="btn btn-light btn-lg px-4"  role="button" >لاگین کن تا پست بزاری!</a>
                {% endif %}
            </div>


            <!-- Search widget-->
            <div class="card mb-4">
                <div class="card-header">جستجو</div>
                <div class="card-body">
                    <div class="input-group">
                       <form action="{% url 'search_catlog' %}" method="POST">
                        {% csrf_token %}
                        <input class="form-control" type="text" placeholder="جستجو در کتلاگ" aria-label="Enter search term..." aria-describedby="button-search" name="searched-catlog" />
                        <br><button type="submit" class="btn btn-primary"> برو بگرد! </button>
                       </form>
                    </div>
                </div>
            </div>
            
             {% block sidebar %}
                {% include 'catlog_sidebar.html' %}
             {% endblock sidebar %}

            
           
        </div>
    </div>
</div>
{% endblock content %}