{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder"> صورتحساب</h1>
      <p class="lead fw-normal text-white-50 mb-0">لطفا سفارشتون رو چک کنید</p>
    </div>
  </div>
</header>
<br />
<div class="container">
  <div class="row">
    <center>
      <div class="col-10">
        <br><div class="card text-bg-light">
          <div class="card-header">
            <br><h5>خلاصه سفارشات شما: </h5><br> </div>
          <div class="card-body">
        
            {% for item in session_data %}
              <p>
                <strong>نام محصول:</strong> {{ item.product_name }} <br>
                <small>
                  <strong>قیمت:</strong>
                  
                    {{ item.price|floatformat:0|intcomma }}
                
                </small> <br>
                <small><strong>تعداد:</strong> {{ item.product_count }}</small><br>
              </p>
              <hr>
            {% endfor %}
         
            <strong>مجموع کل سفارشات:</strong> {{ cart.get_total_price|floatformat:0|intcomma }} تومان<br><br>
            <a href="{% url 'cart:cart_detail' %}" class="btn btn-sm btn-outline-secondary">ویرایش سفارش</a>
          </div>
        </div>
        <br />
        <br>
        <div class="card text-bg-light">
          <div class="card-header"><br> <h5> مشخصات ارسال:</h5><br> </div>
          <div class="card-body">
            <form action="{% url 'confirm_order' %}" method="POST">
              {% csrf_token %}
              {{ shipping_form.as_p }}
              {% for item in session_data %}
             <input type="hidden" name="product_ids[]" value="{{ item.product_id }}">
             <input type="hidden" name="product_names[]" value="{{ item.product_name }}">
             <input type="hidden" name="product_counts[]" value="{{ item.product_count }}">
             <input type="hidden" name="prices[]" value="{{ item.price }}">
             {% endfor %}
             
          </div>
        </div>
      </div>
      <br>
      <div class="d-grid gap-2 col-6 mx-auto">
      <br><button type="submit" class="btn  btn-secondary btn-lg">تایید و ادامه</button></div>
    </form>
    </center>
  </div>
</div>
<br /><br /><br /><br /><br>


{% endblock %}
