{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">تایید نهایی</h1>
      <p class="lead fw-normal text-white-50 mb-0">  یه بار دیگه چک کنید همه چی درست باشه  </p>
    </div>
  </div>
</header>
<br />
<div class="container">
  <div class="row">
    <center>
      <div class="col-10">
        <div class="card">
          <div class="card-header">خلاصه سفارشات شما:</div>
          <div class="card-body">

            {% for item in cart_final %}
            <p>
              <strong>نام محصول:</strong> {{ item.product_name }} <br>
              <small>
                <strong>قیمت:</strong>
                  {{ item.price|floatformat:0|intcomma }}
              </small> <br>
              <small><strong>تعداد:</strong> {{ item.product_count }}</small><br>
            </p>
            <hr>
          {% endfor %}
          <strong>مجموع کل سفارشات:</strong> {{ total_price|floatformat:0|intcomma }} تومان<br>
            <br>
          </div>
        </div>
        <br />
        <div class="card">
          <div class="card-header">مشخصات ارسال:</div>
          <div class="card-body">
            <form method="POST" action="{% url 'process_order' %}">
              {% csrf_token %}
            نام و نام خانوادگی: {{ user_shipping.shipping_full_name }} <br>
            ایمیل: {{ user_shipping.shipping_email }} <br>
            تلفن: {{ user_shipping.shipping_phone }} <br>
            آدرس1: {{ user_shipping.shipping_address1 }} <br>
            آدرس2: {{ user_shipping.shipping_address2 }} <br>
            شهر: {{ user_shipping.shipping_city }} <br>
            منطقه: {{ user_shipping.shipping_state }} <br>
            کد پستی: {{ user_shipping.shipping_zipcode }} <br>
            کشور: {{ user_shipping.shipping_country }} <br>
          </div>
        </div>
      </div>
      <br>
      <button type="submit" class="btn btn-sm btn-outline-secondary"> ثبت سفارش و پرداخت</button>
    </form>
    </center>
  </div>
</div>
<br /><br /><br /><br />
{% endblock %}
