{% extends 'base.html' %}
{% load humanize %}
{% block content %}

<br><br>
<div class="container">


<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
        <center><a href="{% url 'cat' cat.id %}"><img src="{{ cat.picture.url }}" class="img-fluid" style=" box-shadow: 0 0 10px 5px rgb(167, 160, 160);" alt=""></a><br><br><br>
        <h3 class="fw mb-4">مکمل های مناسب برای پیشیِ "{{ cat.name }}" :</h3><br><br><br></center>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for product in related_products %}
            {% if product.is_sale %}
            <div class="col mb-5">
                <div class="card h-100">
                     <!-- Sale badge-->
                     <div class="badge bg-danger text-white position-absolute" style="top: 0.5rem; right: 0.5rem">تخفیف ویژه</div>
                    <!-- Product image-->
                    {% if product.stock > 0 %}
                    <img class="card-img-top" src="{{ product.picture.url }}" alt="..." />
                    {% else %}
                    <img class="card-img-top" src="{{ product.picture.url }}" alt="..." style="filter: grayscale(100%); transition: filter 0.3s ease; " />
                    {% endif %}
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{ product.name }}</h5>
                            <!-- Product price-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                {% with ''|center:product.star as range %}<!-- ما میایم یه رشته به طول اون ایتم.استار هست ایجاد میکنیم و یک رنجی درست میکنیم که بیاد روش حرکت کنه و این کار رو تکرار کنه چون روی اینت نمیتونیم حلقه بنویسیم و روش حرکت کنیم ه-->
                                {% for _ in range %}
                                <div class="bi-star-fill"></div>
                                {% endfor %}
                                {% endwith %}
                            </div>
                            <strike>{{ product.price | intcomma }} تومان<br></strike>
                            {{ product.sale_price | intcomma }} تومان
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'product' product.id %}">برو به صفحه محصول</a></div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    {% if product.stock > 0 %}
                    <img class="card-img-top" src="{{ product.picture.url }}" alt="..." />
                    {% else %}
                    <img class="card-img-top" src="{{ product.picture.url }}" alt="..." style="filter: grayscale(100%); transition: filter 0.3s ease; " />
                    {% endif %}
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{ product.name }}</h5>
                            <!-- Product price-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                {% with ''|center:product.star as range %}<!-- ما میایم یه رشته به طول اون ایتم.استار هست ایجاد میکنیم و یک رنجی درست میکنیم که بیاد روش حرکت کنه و این کار رو تکرار کنه چون روی اینت نمیتونیم حلقه بنویسیم و روش حرکت کنیم ه-->
                                {% for _ in range %}
                                <div class="bi-star-fill"></div>
                                {% endfor %}
                                {% endwith %}
                            </div>
                            {{ product.price | intcomma }} تومان
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'product' product.id %}">برو به صفحه محصول</a></div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>

</div>
<br><br>
{% endblock %}
