{% extends 'base.html' %}
{% load static %}

{% block content %}
        <!-- Header-->
        
        <header class="bg-dark py-5">
            <div class="container px-5">
                <div class="row gx-5 align-items-center justify-content-center">
                    <div class="col-lg-8 col-xl-7 col-xxl-6">
                        <div class="my-5 text-center text-xl-start">
                            <h1 class="display-5 fw-bolder text-white mb-2 "dir="rtl" align="right" >    پیشیـــــــــ&#128008;ـــــــــــنیان    </h1>
                            <p class="lead fw-normal text-white-50 mb-4" dir="rtl" align="right"> اینجا پر از پیشیه!</p><br>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                <a class="btn btn-warning btn-lg px-4 me-sm-3" href="{% url 'catshop_home' %}"> کتشاپ </a>
                                <a class="btn btn-outline-light btn-lg px-4" href="{% url 'catlog' %}"> کتلاگ </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-xxl-6 d-none d-xl-block text-center">
                        <img class="img-fluid rounded-circle my-4 shadow" src="static/assets/bbbb.jpg" alt="..." >
                    </div>
                    
                    </div>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {% for item in cats %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="{{ item.picture.url }}" alt="..." /> <!--  حتما باید یو ار ال را داخل اتربیوت سورس بنویسیم-->
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ item.name }}</h5>
                                    <br>
                                {{ item.personality }}
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'cat' item.id %}"> اطلاعات بیشتر</a></div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    </div>

                </div>
            </div>
        </section>
{% endblock %}
